<%
pageTitle = "500"
%>
<% include ../../layouts/top.ejs %>

<section>
	<div class="container">
		<h1>Error (500)</h1>
		<p class="lead">Sorry, the site has encountered an error.</p>
	</div>
</section>
<% include ../../layouts/bottom.ejs %>