<%
pageTitle = "Welcome"
%>
<% include ../layouts/top.ejs %>
<% include ../layouts/header-masthead.ejs %>

<section class="section section--yellow">
  <div class="container container-md">
    <div class="welcomebox">
      <span class="welcomebox__hand">
        <img src="/images/hi-hand.png" alt="" />
      </span>
      <div class="welcomebox__text">
        <h1 class="title hide">welcome to our energy healings program</h1>
        <div class="content">
          <img class="title" src="images/text-welcome.png" alt="" />
          <img class="title mobile" src="images/text-welcome-2.png" alt="" />
          <div class="divider"></div>
          <p><b>We’re so excited you’ve joined us and hope that this knowledge helps you again and again in your life. This personal tool is unlike anything you’ve ever experienced. We’ve brought in 18 different healers from varying traditions to show you how to use the power of your energy to heal, prosper, and overcome any obstacle that comes your way.</b></p>
          <p>There are two ways to navigate these video teachings, the first way is by healing method and the second is by the unique need or condition that you’d like to focus on. We’ve listed more information on how to use either of these navigation methods, and we encourage you to explore both and see what works best for you.</p>
          <p>It is with great honor that we present you with the <b>Sacred Science of Energy Healing.</b></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section--red section--cog">
  <div class="container">
    <div class="howtobox">
      <h1 class="title hide">HOW TO USE THIS COURSE</h1>
      <img class="title" src="images/text-howto.png" alt="" />
      <p>
        We've found that just as no one learns the same way, there is no standard prescription for any illness. With that in mind, we are not going to tell you how to use this mastery program. The Energy Healing Course is organized in a few different formats so that you can access the information with ease and fluidity, in the way that works best for you.
      </p>
    </div>
  </div>
  <div class="diagrambox">
    <div class="diagrambox__circle">
      <div class="sg upper">
        <div class="diagrambox__big">
          <img class="" src="images/text-a.png" alt="" />
        </div>
        <h3 class="diagrambox__head">LET US GUIDE YOU</h3>
        <p>ON A CUSTOMIZED PATH CREATED<br/> BASED ON YOUR UNIQUE CONDITION</p>
        <a href="/plans" class="rclickable rclickable--blue-up">GET STARTED</a>
      </div>
      <div class="sg ha">OR</div>
      <div class="sg below">
        <div class="diagrambox__big">
          <img class="" src="images/text-b.png" alt="" />
        </div>
        <h3 class="diagrambox__head">CHOOSE YOUR PATH</h3>
        <p>BY OUR HEALING METHOD OPTIONS</p>
        <a href="/lessons" class="rclickable rclickable--orange-up">VIEW CLASSES</a>
      </div>
    </div>
  </div>
</section>
<section class="section section--yellow mobile-hide">
  <div class="container">
    <div class="intuitionbox">
      <img src="images/text-intuition.png" alt="" />
    </div>
  </div>
</section>

<% include ../layouts/footer.ejs %>
<% include ../layouts/bottom.ejs %>