<footer class="footer masthead">
  <div class="container">
    <div class="row">
        <div class="col-sm-4">
          <ul class="nav nav-links">
            <li>
              <a href="/" class="rclickable rclickable--yellow-down">WELCOME</a>
            </li>
            <li>
              <a href="/lessons" class="rclickable rclickable--yellow-up">CLASSES</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <img class="nav-brand" src="/images/logo.png" alt="" height="265px" />
        </div>
        <div class="col-sm-4">
          <ul class="nav nav-links">
            <li>
              <a href="/healers" class="rclickable rclickable--yellow-down">HEALERS</a>
            </li>
            <li>
              <a href="/faqs" class="rclickable rclickable--yellow-up">FAQs</a>
            </li>
          </ul>
        </div>
    </div>
    <p class="copyright">©2016 The Sacred Science, LLC. All rights reserved. Site Design by: <b>designbylovelyday.com</b></p>
  </div>
  <div class="stripe"></div>
</footer>
